.graficoBarraTripla {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid blueviolet;
    background-color: white; 
    height: 300px;
    width: 100%;
}

.barraTripla {
    display: flex;
    border: 2px solid green;
    /* background-color: whitesmoke; */
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.barraTripla > div {
    display: flex;
    border: 2px solid red;
    background-color: green;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 30px;
}

.divGraficoProdutosCompraVenda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid blueviolet;
    height: 320px;
    width: 50%;
}

.divGraficoProdutosLucroAbsolutoRelativo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid blueviolet;
    height: 320px;
    width: 50%;
}

.divGraficoMultiChartBarLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid orchid;
    height: 480px;
    width: 70%;
}

.divGraficoDoughnutAndamentoPorcentagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(13, 13, 14);
    height: 480px;
    width: 30%;
    padding-bottom: 40px;
}

.divVisorPorcentagemCentroDoughnut {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 153px;
    top: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    border: 2px solid red;
}

.divGraficoDoughnutAndamentoPorcentagem > canvas {
   position: relative;
   right: 14px;
   bottom: 6px;
}

/* canvas:nth-child(2) {
    position: relative;
    left: -11.8437px;
    height: 812px;
} */